<!--form partial!!-->

<% if @article.errors.any? %>
    <% @article.errors.full_messages.each do |msg|%>
        <ul>
            <li><%= msg %></li>    
        </ul>
    <%end%>
<%end%>
    
<div class="container" id="form_container">
    <h2>New article:</h2>
    
    <%= form_for @article do |f|%>
        <div class="form-group">
            <label><%= f.label :title, "Title" %></label>
            <%= f.text_field :title, class:"form-control", placeholder:"Article title" %>
        </div>
        <div class="form-group">
            <label><%= f.label :description, "Description" %></label>
            <%= f.text_area :description, class:"form-control",rows:5, placeholder: "Description" %>
        </p>
        <div class="form-group">
            <%= f.submit class:"btn btn-success" %> <!-- automatically POST request -->
        </div>
        
        <%= link_to "Back", "/articles"%>
    
    <% end %>
</div>


