<div class="row">
    <div class="col-xs-6 col-xs-offset-3">
    
       <%= render "shared/errors", obj: @user%>
    
        <%= form_for @user do |f|%>
            <div class="form-group">
                <label><%= f.label :username, "Username" %></label>
                <%= f.text_field :username, class:"form-control", placeholder:"Username" %>
            </div>
            <div class="form-group">
                <label><%= f.label :email, "Email" %></label>
                <%= f.email_field :email, class:"form-control", placeholder:"Email" %>
            </div>
            <div class="form-group">
                <label><%= f.label :password, "Password" %></label>
                <%= f.password_field :password, class:"form-control", placeholder: "Password" %>
            </p>
            <div class="form-group">
                <%= f.submit @user.new_record?? "Sign up!":"Update account", class:"btn btn-success form-control" %> <!-- automatically POST request -->
            </div>
            <div class="form-group">
                <%= link_to "Back", "/articles"%>
            </div>
        <% end %>
    </div>
</div> 