<h1 align="center">All users</h1>

<% @users.each do |u|%>
   <div class="well well-sm">
      <div class="row">
         <div class="col-xs-2 text-center">
            <div class="vert-align">
               <%= link_to gravatar_for(u), user_path(u) %>
               <%=%>
            </div>
         </div>
         <div class="col-xs-4">
            <h1><%=link_to u.username, "/users/#{u.id}" %></h1>
            <p>Articles <span class="badge"><%=u.articles.count%></span></p>
         </div>
      </div>
   </div>
<% end %>

<div align="center"><%= will_paginate %></div>